body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: url('./images/bg.jpg');
    color: white;
}

.incBox {
    margin-top: 30px;
    border: 2px solid #73CDE7;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 20px;
}

.inc {
    font-size: 50px;
    border: 2px solid #73CDE7;
    text-align: center;
    border-radius: 10px;
    color: #73CDE7;
    font-weight: bold;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 25px;
    border: 2px solid #73CDE7;
    border-radius: 10px;
}

.button:disabled {
    background: #034EAA !important;
    color: white !important;
}

.maxValue {
    color: #F11345;
}

input {
    color: white !important;
}